.card {
  background-color: var(--card-bg-color-light);
  border: 1px solid var(--border-color-light);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 30px;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

[data-theme='dark'] .card {
  background-color: var(--card-bg-color-dark);
  border: 1px solid var(--border-color-dark);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
}

/* Адаптивные стили */
@media (max-width: 767px) {
  .card {
    padding: 20px;
  }
}